/* Resets */
.todoapp *,
.todoapp *::before,
.todoapp *::after {
  box-sizing: border-box;
}
.todoapp *:focus-visible {
  outline: 3px dashed #228bec;
  outline-offset: 0;
}
.todoapp ul {
  list-style: none;
  padding: 0;
}
.todoapp button {
  -moz-osx-font-smoothing: inherit;
  -webkit-font-smoothing: inherit;
  appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  margin: 0;
  overflow: visible;
  padding: 0;
  width: auto;
}
.todoapp button::-moz-focus-inner {
  border: 0;
}
.todoapp button,
.todoapp input,
.todoapp optgroup,
.todoapp select,
.todoapp textarea {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.15;
  margin: 0;
}
.todoapp button,
.todoapp input {
  overflow: visible;
}
.todoapp input[type="text"] {
  border-radius: 0;
}
/* End resets */
/* Global styles */
.todoapp .form-group > input[type="text"] {
  display: inline-block;
  margin-top: 0.4rem;
}
.todoapp .btn {
  border: 0.2rem solid #4d4d4d;
  cursor: pointer;
  padding: 0.8rem 1rem 0.7rem;
  text-transform: capitalize;
}
.todoapp .btn.toggle-btn {
  border-color: #d3d3d3;
  border-width: 1px;
}
.todoapp .btn.toggle-btn[aria-pressed="true"] {
  border-color: #4d4d4d;
  text-decoration: underline;
}
.todoapp .btn__danger {
  background-color: #ca3c3c;
  border-color: #bd2130;
  color: #fff;
}
.todoapp .btn__filter {
  border-color: lightgrey;
}
.todoapp .btn__primary {
  background-color: #000;
  color: #fff;
}
.todoapp .btn-group {
  display: flex;
  justify-content: space-between;
}
.todoapp .btn-group > * {
  flex: 1 1 49%;
}
.todoapp .btn-group > * + * {
  margin-left: 0.8rem;
}
.todoapp .label-wrapper {
  flex: 0 0 100%;
  margin: 0;
  text-align: center;
}
.todoapp .visually-hidden {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}
.todoapp [class*="stack"] > * {
  margin-bottom: 0;
  margin-top: 0;
}
.todoapp .stack-small > * + * {
  margin-top: 1.25rem;
}
.todoapp .stack-large > * + * {
  margin-top: 2.5rem;
}
.todoapp .stack-exception {
  margin-top: 1.2rem;
}
/* End global styles */
/* General app styles */
#todo {
  padding: 1rem;
}
.todoapp {
  background: #fff;
  box-shadow:
    0 2px 4px 0 rgb(0 0 0 / 20%),
    0 2.5rem 5rem 0 rgb(0 0 0 / 10%);
  margin: 2rem auto 4rem;
  padding: 1rem;
  position: relative;
  max-width: 50rem;
  width: calc(100% - 2rem);
  font-family: sans-serif;
  font-size: 1rem;
}
.todoapp > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}
.todoapp > form {
  max-width: 100%;
}
.todoapp > h1 {
  display: block;
  margin: 0;
  margin-bottom: 1rem;
  max-width: 100%;
  text-align: center;
}
.todoapp .label__lg {
  line-height: 1.01567;
  font-weight: 300;
  margin-bottom: 1rem;
  padding: 0.8rem;
  text-align: center;
}
.todoapp .input__lg {
  border: 2px solid #000;
  padding: 2rem;
}
.todoapp .input__lg:focus-visible {
  border-color: #4d4d4d;
  box-shadow: inset 0 0 0 2px;
}
.todoapp [class*="__lg"] {
  display: inline-block;
  font-size: 1.25rem;
  width: 100%;
}
.todoapp [class*="__lg"]:not(:last-child) {
  margin-bottom: 1rem;
}
/* @media screen and (min-width: 620px) {
  .todoapp [class*="__lg"] {
    font-size: 2.4rem;
  }
} */
/* End general app styles */
/* Todo item styles */
.todoapp .todo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.todoapp .todo > * {
  flex: 0 0 100%;
}
.todoapp .todo-text {
  border: 2px solid #565656;
  min-height: 4.4rem;
  padding: 0.4rem 0.8rem;
  width: 100%;
}
.todoapp .todo-text:focus-visible {
  box-shadow: inset 0 0 0 2px;
}
/* End todo item styles */
/* Checkbox styles */
.todoapp .c-cb {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  clear: left;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
  min-height: 44px;
  padding-left: 40px;
  position: relative;
}
.todoapp .c-cb > label::before,
.todoapp .c-cb > input[type="checkbox"] {
  box-sizing: border-box;
  height: 44px;
  left: -2px;
  top: -2px;
  width: 44px;
}
.todoapp .c-cb > input[type="checkbox"] {
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  margin: 0;
  opacity: 0;
  position: absolute;
  z-index: 1;
}
.todoapp .c-cb > label {
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 0;
  padding: 8px 15px 5px;
  touch-action: manipulation;
}
.todoapp .c-cb > label::before {
  background: transparent;
  border: 2px solid currentcolor;
  content: "";
  position: absolute;
}
.todoapp .c-cb > input[type="checkbox"]:focus-visible + label::before {
  border-width: 4px;
  outline: 3px dashed #228bec;
}
.todoapp .c-cb > label::after {
  background: transparent;
  border: solid;
  border-width: 0 0 5px 5px;
  border-top-color: transparent;
  box-sizing: content-box;
  content: "";
  height: 7px;
  left: 9px;
  opacity: 0;
  position: absolute;
  top: 11px;
  transform: rotate(-45deg);
  width: 18px;
}
.todoapp .c-cb > input[type="checkbox"]:checked + label::after {
  opacity: 1;
}
/* End checkbox styles */
